<section class="dark:bg-gray-900">
    <div class="px-4 mx-auto max-w-2xl lg:py-8 rounded overflow-hidden shadow-lg">
        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="max-w-full">
                <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer
                    first name</label>
                <input type="text" value="<%= pool.firstName %>" name="firstName" id="firstName"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="First name">
            </div>
            <div class="max-w-full">
                <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer
                    last name</label>
                <input type="text" value="<%= pool.lastName %>" name="lastName" id="lastName"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Last name">
            </div>
            <div class="w-full">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="email" name="email" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Email" value="<%= pool.email %>">
            </div>
            <div class="w-full">
                <label for="number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
                    #</label>
                <input type="text" name="number" id="number"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="(902) XXX-XXXX" value="<%= pool.number %>">
            </div>
            <div class="w-full">
                <label for="altEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Alternative email</label>
                <input type="email" name="altEmail" id="altEmail"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Email" value="<%= pool.altEmail %>">
            </div>
            <div class="w-full">
                <label for="altNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Alternative phone
                    #</label>
                <input type="text" name="altNumber" id="altNumber"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="(902) XXX-XXXX" value="<%= pool.altNumber %>">
            </div>
            <div>
                <label for="bodyOfWater" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Body of
                    Water</label>
                <select id="bodyOfWater" name="bodyOfWater"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option label="Pool (Unknown type)" value="Pool (Unknown type)" <%= pool.bodyOfWater==='Pool (Unknown type)' ? 'selected' : '' %>>Pool (Unknown type)</option>
                    <option label="IG" value="IG" <%= pool.bodyOfWater==='IG' ? 'selected' : '' %>>IG</option>
                    <option label="AG" value="AG" <%= pool.bodyOfWater==='AG' ? 'selected' : '' %>>AG</option>
                    <option label="OG" value="OG" <%= pool.bodyOfWater==='OG' ? 'selected' : '' %>>OG</option>
                    <option label="HT" value="HT" <%= pool.bodyOfWater==='HT' ? 'selected' : '' %>>HT</option>
                    <option label="SS" value="SS" <%= pool.bodyOfWater==='SS' ? 'selected' : '' %>>SS</option>
                    <option label="Other" value="Other" <%= pool.bodyOfWater==='Other' ? 'selected' : '' %>>Other</option>
                </select>
            </div>
            <div>
                <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
                <select id="status" name="status"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option label="New BoW" value="New BoW" <%=pool.status==='New BoW' ? 'selected' : '' %>>New BoW</option>
                    <option label="Received" value="Received" <%=pool.status==='Received' ? 'selected' : '' %>>Received</option>
                    <option label="Follow-up 1" value="Follow-up 1" <%=pool.status==='Follow-up 1' ? 'selected' : '' %>>Follow-up 1</option>
                    <option label="Follow-up 2" value="Follow-up 2" <%=pool.status==='Follow-up 2' ? 'selected' : '' %>>Follow-up 2</option>
                    <option label="Ongoing" value="Ongoing" <%=pool.status==='Ongoing' ? 'selected' : '' %>>Ongoing</option>
                    <option label="Improving" value="Improving" <%=pool.status==='Improving' ? 'selected' : '' %>>Improving</option>
                    <option label="No update" value="No update" <%=pool.status==='No update' ? 'selected' : '' %>>No update</option>
                    <option label="Almost" value="Almost" <%=pool.status==='Almost' ? 'selected' : '' %>>Almost</option>
                    <option label="Closed" value="Closed" <%=pool.status==='Closed' ? 'selected' : '' %>>Closed</option>
                </select>
            </div>
            <div id="size" class="w-full">
                <label for="size" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pool size</label>
                <input type="text" name="size"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Pool size" value="<%= pool.size %>">
            </div>
            <div class="w-full">
                <label for="system" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">System</label>
                <input type="text" name="system" id="system"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Maintenance chemicals" value="<%= pool.system %>">
            </div>
            <div id="brand" class="w-full">
                <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Brand</label>
                <input type="text" name="brand"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Brand" value="<%= pool.brand %>">
            </div>
            <div id="make" class="w-full">
                <label for="make" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Make</label>
                <input type="text" name="make"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Make" value="<%= pool.make %>">
            </div>
            <div id="pump" class="w-full">
                <label for="pump" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pump</label>
                <input type="text" name="pump"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Pool pump" value="<%= pool.pump %>">
            </div>
            <div id="filter" class="w-full">
                <label for="filter" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Filter</label>
                <input type="text" name="filter"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Filter type" value="<%= pool.filter %>">
            </div>
            <div id="heater" class="w-full">
                <label for="heater" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Heater</label>
                <input type="text" name="heater"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Heating system (if any)" value="<%= pool.heater %>">
            </div>
            <div class="w-full">
                <label for="otherEquipment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Other equipment</label>
                <input type="text" name="otherEquipment" id="otherEquipment"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Other equipment (if any)" value="<%= pool.otherEquipment %>">
            </div>


            <div class="max-w-full">
                <label for="assignedTo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Assigned to</label>
                <select id="assignedTo" name="assignedTo"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option label="Colby" value="Colby" <%= pool.assignedTo==='Colby' ? 'selected' : '' %>>Colby</option>
                    <option label="Jenn" value="Jenn" <%= pool.assignedTo==='Jenn' ? 'selected' : '' %>>Jenn</option>
                    <option label="Jessica" value="Jessica" <%= pool.assignedTo==='Jessica' ? 'selected' : '' %>>Jessica</option>
                    <option label="Amaya" value="Amaya" <%= pool.assignedTo==='Amaya' ? 'selected' : '' %>>Amaya</option>
                    <option label="Ben" value="Ben" <%= pool.assignedTo==='Ben' ? 'selected' : '' %>>Ben</option>
                    <option label="Hannah" value="Hannah" <%= pool.assignedTo==='Hannah' ? 'selected' : '' %>>Hannah</option>
                    <option label="Jack" value="Jack" <%= pool.assignedTo==='Jack' ? 'selected' : '' %>>Jack</option>
                    <option label="Jaime" value="Jaime" <%= pool.assignedTo==='Jaime' ? 'selected' : '' %>>Jaime</option>
                </select>
            </div>
            <div class="max-w-full" id="conditionPool">
                <label for="conditionPool" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Condition</label>
                <select name="conditionPool" id="conditionPool"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option label="" value="" <%= pool.conditionPool==='' ? 'selected' : '' %>></option>
                    <option label="Clear" value="Clear" <%= pool.conditionPool==='Clear' ? 'selected' : '' %>>Clear</option>
                    <option label="Blue/Cloudy (cannot see floor)" value="Blue/Cloudy (cannot see floor)" <%= pool.conditionPool==='Blue/Cloudy (cannot see floor)' ? 'selected' : '' %>>Blue/Cloudy (cannot see floor)</option>
                    <option label="Milky Dead Algae" value="Milky Dead Algae" <%= pool.conditionPool==='Milky Dead Algae' ? 'selected' : '' %>>Milky Dead Algae</option>
                    <option label="Hazy" value="Hazy" <%= pool.conditionPool==='Hazy' ? 'selected' : '' %>>Hazy</option>
                    <option label="Algae - Green Cloudy" value="Algae - Green Cloudy" <%= pool.conditionPool==='Algae - Green Cloudy' ? 'selected' : '' %>>Algae - Green Cloudy</option>
                    <option label="Algae - Green on Floor" value="Algae - Green on Floor" <%= pool.conditionPool==='Algae - Green on Floor' ? 'selected' : '' %>>Algae - Green on Floor</option>
                    <option label="Discolored Water" value="Discolored Water" <%= pool.conditionPool==='Discolored Water' ? 'selected' : '' %>>Discolored Water</option>
                    <option label="Stains" value="Stains" <%= pool.conditionPool==='Stains' ? 'selected' : '' %>>Stains</option>
                    <option label="Fine Debris Settling on Floor" value="Fine Debris Settling on Floor" <%= pool.conditionPool==='Fine Debris Settling on Floor' ? 'selected' : '' %>>Fine Debris Settling on Floor</option>
                    <option label="Zero Alkalinity" value="Zero Alkalinity" <%= pool.conditionPool==='Zero Alkalinity' ? 'selected' : '' %>>Zero Alkalinity</option>
                </select>
            </div>
            <div class="max-w-full" id="conditionHt">
                <label for="conditionHt" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Condition</label>
                <select name="conditionHt"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option label="" value="" <%= pool.conditionHt==='' ? 'selected' : '' %>></option>
                    <option label="Clear" value="Clear" <%= pool.conditionHt==='Clear' ? 'selected' : '' %>>Clear</option>
                    <option label="Cloudy" value="Cloudy" <%= pool.conditionHt==='Cloudy' ? 'selected' : '' %>>Cloudy</option>
                    <option label="Foaming" value="Foaming" <%= pool.conditionHt==='Foaming' ? 'selected' : '' %>>Foaming</option>
                    <option label="Odors" value="Odors" <%= pool.conditionHt==='Odors' ? 'selected' : '' %>>Odors</option>
                    <option label="Stains" value="Stains" <%= pool.conditionHt==='Stains' ? 'selected' : '' %>>Stains</option>
                    <option label="Discolored Water" value="Discolored Water" <%= pool.conditionHt==='Discolored Water' ? 'selected' : '' %>>Discolored Water</option>
                    <option label="Scale" value="Scale" <%= pool.conditionHt==='Scale' ? 'selected' : '' %>>Scale</option>
                    <option label="Biofilm" value="Biofilm" <%= pool.conditionHt==='Biofilm' ? 'selected' : '' %>>Biofilm</option>
                </select>
            </div>

            <div class="sm:col-span-2 grid grid-cols-3 space-x-2">
                <div>
                <label for="yearToDate1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">YTD June 08</label>
                <input type="number" name="yearToDate1" id="yearToDate1"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Year to date as of 06-08" value="<%= pool.yearToDate1 %>">
                </div>
                <div>
                    <label for="yearToDate2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">YTD TBD</label>
                    <input type="text" name="yearToDate2" id="yearToDate2" disabled
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="TBD" value="<%= pool.yearToDate2 %>">
                    </div>
                    <div>
                        <label for="yearToDate3" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">YTD TBD</label>
                        <input type="text" name="yearToDate3" id="yearToDate3" disabled
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="TBD" value="<%= pool.yearToDate3 %>">
                        </div>
            </div>

            


            <div class="max-w-full">
                <label for="hhlBuild" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">HHL Build</label>
                <div class="flex gap-x-3">
                    <div class="flex space-x-0.5">
                        <input type="radio" name="hhlBuild" id="hs-radio-group-1" class="shrink-0 border-gray-200 rounded text-blue-600 focus:ring-blue-500" value="Yes" <%= pool.hhlBuild === 'Yes' ? 'checked' : '' %>>
                        <label for="hs-radio-group-1" class="text-sm text-gray-500 ms-3">Yes</label>
                    </div>
            
                    <div class="flex space-x-0.5">
                        <input type="radio" name="hhlBuild" id="hs-radio-group-2" class="shrink-0 border-gray-200 rounded text-blue-600 focus:ring-blue-500" value="No" <%= pool.hhlBuild === 'No' ? 'checked' : '' %>>
                        <label for="hs-radio-group-2" class="text-sm text-gray-500 ms-3">No</label>
                    </div>
            
                    <div class="flex space-x-0.5">
                        <input type="radio" name="hhlBuild" id="hs-radio-group-3" class="shrink-0 border-gray-200 rounded text-blue-600 focus:ring-blue-500" value="Unknown" <%= pool.hhlBuild === 'Unknown' ? 'checked' : '' %>>
                        <label for="hs-radio-group-3" class="text-sm text-gray-500 ms-3">Unknown</label>
                    </div>
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="description" name="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                <textarea id="description" name="description" rows="8"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Details about the body of water"><%=pool.description %></textarea>
            </div>
            <div class="sm:col-span-2">
                <label for="cover" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image</label>
                <input type="file" name="cover" class="filepond" multiple data-allow-reorder="true">
                <div id="existingImages" class="grid grid-cols-2">
                  <% if (pool.coverImagePath && pool.coverImagePath.length > 0) { %>
                    <% pool.coverImagePath.forEach(function(imagePath, index) { %>
                      <div class="existing-image">
                        <img src="<%= imagePath %>" alt="Existing Image" style="max-width: 300px; margin: 10px;">
                        <label for="removeImage<%= index %>">Remove</label>
                        <input type="checkbox" name="removeImages[]" value="<%= index %>" id="removeImage<%= index %>">
                      </div>
                    <% }); %>
                  <% } %>
                </div>
              </div>
        </div>
    </div>
</section>

<script defer src="/javascripts/hideFields.js"></script>