<div class="px-4 sm:px-0">
  <h2 class="leading-7 text-gray-900 text-center text-2xl font-bold my-3">
    Customer BoW Information
  </h2>
</div>
<div
  class="content-center py-8 px-6 mx-auto max-w-4xl bg-white shadow-lg rounded-lg"
>
  <div class="border-t border-gray-200">
    <dl class="divide-y divide-gray-200">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-4">
        <div>
          <dt class="text-sm font-medium text-gray-900">Customer name</dt>
          <dd class="mt-1 text-sm text-gray-700">
            <%= pool.firstName + " " + pool.lastName %>
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-900">E-mail</dt>
          <dd class="mt-1 text-sm text-blue-600 underline">
            <a href="mailto:<%= pool.email %>"><%= pool.email %></a>
          </dd>
          <dd class="mt-1 text-sm text-blue-600 underline">
            <a href="mailto:<%= pool.altEmail %>"><%= pool.altEmail %></a>
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-900">Phone number</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.number %></dd>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.altNumber %></dd>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-4">
        <div>
          <dt class="text-sm font-medium text-gray-900">Current status</dt>
          <dd class="mt-1 text-sm text-gray-700 font-semibold underline">
            <%= pool.status %>
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-900">Assigned to</dt>
          <dd class="mt-1 text-sm text-gray-700 font-semibold underline">
            <%= pool.assignedTo %>
          </dd>
        </div>
        <div id="conditionPool">
          <dt class="text-sm font-medium text-gray-900">Condition</dt>
          <dd class="mt-1 text-sm text-gray-700 font-semibold underline">
            <%= pool.conditionPool %>
          </dd>
        </div>
        <div id="conditionHt">
          <dt class="text-sm font-medium text-gray-900">Condition</dt>
          <dd class="mt-1 text-sm text-gray-700 font-semibold underline">
            <%= pool.conditionHt %>
          </dd>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-4">
        <div>
          <dt class="text-sm font-medium text-gray-900">Body of water</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.bodyOfWater %></dd>
        </div>
        <div id="brand">
          <dt class="text-sm font-medium text-gray-900">Brand</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.brand %></dd>
        </div>
        <div id="make">
          <dt class="text-sm font-medium text-gray-900">Make</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.make %></dd>
        </div>
        <div id="size">
          <dt class="text-sm font-medium text-gray-900">Pool size</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.size %></dd>
        </div>
        <div id="system">
          <dt class="text-sm font-medium text-gray-900">System</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.system %></dd>
        </div>
        <div id="hhlBuild">
          <dt class="text-sm font-medium text-gray-900">HHL Build</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.hhlBuild %></dd>
        </div>
        <div id="filter">
          <dt class="text-sm font-medium text-gray-900">Filter</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.filter %></dd>
        </div>
        <div id="pump">
          <dt class="text-sm font-medium text-gray-900">Pump</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.pump %></dd>
        </div>
        <div id="heater">
          <dt class="text-sm font-medium text-gray-900">Heater</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.heater %></dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-900">Other equipment</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.otherEquipment %></dd>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-4">
        <div>
          <dt class="text-sm font-medium text-gray-900">YTD (June 08)</dt>
          <dd class="mt-1 text-sm text-gray-700">
            <%= pool.yearToDate1 && "$" + pool.yearToDate1 %>
          </dd>
        </div>
        <div id="">
          <dt class="text-sm font-medium text-gray-900">YTD (TBD)</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.yearToDate2 %></dd>
        </div>
        <div id="">
          <dt class="text-sm font-medium text-gray-900">YTD (TBD)</dt>
          <dd class="mt-1 text-sm text-gray-700"><%= pool.yearToDate3 %></dd>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-8 py-4">
        <div>
          <dt class="text-sm font-medium text-gray-900">Description</dt>
          <dd class="mt-1 text-sm text-gray-700 whitespace-pre-line">
            <%= pool.description %>
          </dd>
        </div>
      </div>
      <div class="py-6">
        <dt class="text-sm font-medium text-gray-900">Images</dt>
        <dd class="mt-2 text-sm text-gray-900">
          <%- include('../partials/existingImages.ejs') %>
        </dd>
      </div>
    </dl>
    <div class="py-6 flex space-x-4 justify-center">
      <a
        class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        href="/pools/<%= pool.id %>/edit"
        >Edit</a
      >
      <%- include('../partials/deleteForm', { url: `/pools/${pool.id}` }) %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const bodyOfWaterValue = "<%= pool.bodyOfWater %>";
    const fieldsToHide = [
      "#brand",
      "#make",
      "#pump",
      "#filter",
      "#heater",
      "#size",
      "#conditionHt",
      "#conditionPool",
    ];

    function toggleFieldsVisibility() {
      fieldsToHide.forEach((id) =>
        document.querySelector(id).classList.add("hiddenFields")
      );

      if (["HT", "SS"].includes(bodyOfWaterValue)) {
        ["#brand", "#make", "#conditionHt"].forEach((id) =>
          document.querySelector(id).classList.remove("hiddenFields")
        );
      } else if (
        ["IG", "OG", "AG", "Pool (Unknown type)"].includes(bodyOfWaterValue)
      ) {
        ["#pump", "#filter", "#heater", "#size", "#conditionPool"].forEach(
          (id) => document.querySelector(id).classList.remove("hiddenFields")
        );
      }
    }
    toggleFieldsVisibility();
  });
</script>

<style>
  .hiddenFields {
    display: none;
  }
  .content-center {
    background-color: #f9fafb;
  }
  dl {
    padding: 0 1rem;
  }
</style>
